import("FLCore")
export(
  "age_to_length",
  "length_to_weight",
  "age_to_weight",
  "aspm.Edwards",
  "aspm.Francis")
exportClasses(
	"FLaspm")
exportMethods(
  "FLaspm",
  "pop.dyn",
  "exp.biomass",
  "mat.biomass")
	
