useDynLib("FLaspm")
import("FLCore")
export(
  "age_to_length",
  "length_to_weight",
  "age_to_weight",
  "aspm.Edwards",
  "aspm.Edwards.C",
  "aspm.index.Edwards",
  "aspm.index.Edwards.C",
  "aspm.Francis",
  "aspm.Francis.C",
  "aspm.index.Francis",
  "aspm.index.Francis.C")
exportClasses(
	"FLaspm")
exportMethods(
  "FLaspm",
  "pop.dyn",
  "exp.biomass",
  "mat.biomass")
	
