useDynLib("FLsp")
import("FLCore",
	"Rcpp")
exportClasses(
	"FLsp")
exportMethods(
    "FLsp",
    "predict",
    "fitsp",
    "evalC",
    "biomass",
    "qhat",
    "sigma2",
    "indexhat",
    "ll",
    "msy",
    "bmsy",
    "bcurrent",
		"dims",
		"profile",
		"predict",
		"iter")
export(
	"sp",
	"ihat")

